<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/style.css">

  <title>Show Photos</title>
</head>

<body>
  <section class="main">
    <!-- Navigation START -->
    <% include ./partials/nav.ejs %>
    <!-- Navigation END -->
  </section>

  <div class="showAll">
    <% posts.forEach(post => { %>
      <div class="show">
        <div class="name">
          <p> <%= post.username %> </p>
        </div>
        <div class="updateDelete">
          <button>Update</button>
          <button>Delete</button>
          <a href="/image_post/<%=post.photoURL%>" download> <button>Download</button> </a> 
        </div>

        <div class="image">
          <img src="/image_post/<%=post.photoURL%>" alt="image">
        </div>
      </div> 

    <% }); %>
  </div>

  <script src="/main.js"> </script>
</body>

</html>